h1{
    font-family: Arial;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    grid-area: a;
    margin-top:-5px;      
}
body{
    display: grid;
    grid-template:
    "a"
    "b"
    "c"
    "d";
    justify-content: center;
    background: #f5f5f5;
}
 
header{
    grid-area: b;
    margin: auto;
    width: 100%;   
}
main{
    margin: auto;
    width: 550px;
    border: 1px;
    box-shadow: 7px 10px 100px 5px lightgray;
    grid-area: c;
    border-color: lightgray;
    border-style: ridge;
    margin-top:-50px;
}
main footer{
    grid-area: d;
}
#info{
    grid-area: d;
    text-align: center;
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#bfbfbf;
    margin-top:30px;
}

#todo{
    list-style-type:none;
    padding: 0px;
    display:block;
    font-size: 0;
}
a{
    color: #bfbfbf;
}
#completed{
    padding-right: 60px;
}

main footer ul li button{
    background:transparent;
    border:none;
    font-size: 15px;
    color: rgb(156, 154, 154);
    margin-top: 1px;
}
main footer ul li button:hover{
    border: 1px solid rgba(175, 47, 47, 0.15);

}


#inputarea{
    border-bottom: 1px solid lightgray;
    height:50px;
}

#input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 22px;
    font-style: italic;
    color:black;
    height: 30px;
    padding: 0;
    position: relative;
    width: 520px;
    display: inline-block;
    vertical-align: middle;  
}
#input::placeholder{
    color: rgb(224, 224, 224);    
}
.check{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(117, 114, 114, 0.15);
    vertical-align: middle;
    float:left;
}
.check:checked{   
    border-color: rgba(117, 114, 114, 0.15);
}
.check:after{
    content:"";
    display:none;
}
.check:checked:after{
    display: block;
}
.check:after{
    left: 10px;
    top:3px;
    width: 5px;
    height: 15px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position:relative;
}
#checkall:before{
    content:"\1F53D";
}
#checkall{
    border-radius: 50px;
    -webkit-appearance: none;
    vertical-align: middle;  
}
.checkbox label:before{
    border-radius:3px
}
main footer ul{
    font-size: 0;
    list-style-type:none;
    padding: 7px; 
    display: block;
}

.delete{  
    float:right;
    background:transparent;
    border:none;
    width: 5.5em;
    opacity: 50%;  
}
#count{
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 16px;
    color: rgb(156, 154, 154);
    padding:2px;
    float:left;
    align-items: center;
    padding-right: 80px;
}
#all{
    float:left;
    
}
#active{
    float:left;
}
#completed{
    float:left;
}
#clearcompleted{
    float:right;
}
#all:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(175, 47, 47, 0.1);
    border-radius: 5px;
   
}
#all:hover{
    border-color: rgba(175, 47, 47, 0.1);
    border-radius: 5px;
}
#clearcompleted:hover{
    border-color: transparent;
    text-decoration: underline;
 
}
#active:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(175, 47, 47, 0.1);
    border-radius: 5px;
}
#active:hover{
    border-color: rgba(175, 47, 47, 0.1);
    border-radius: 5px;
}
#completed:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: lightgrey;
    border-radius: 5px;
}
#completed:hover{
    border-color: rgba(175, 47, 47, 0.1);
    border-radius: 5px;
}
main form{
    margin-top: 25px;; 
}
#todolist >.delete{
    display:none;
}
#todolist:hover > .delete{
    display:block;
}
main ul #todolist{
    width:550px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 77, 77);
    font-size: 25px;
    border-bottom: 1.2px solid rgba(161, 155, 155, 0.15);
    min-height:50px; 
    display: block;
}
label{
    word-wrap:break-word;
    word-break: break-all;
}

#enterbutton{
    display: none;
}
#todofooter{
    height: 40px;
}
@media screen and (max-width: 700px) {
    main {
      width: 400px;
    }
    #todolist{
          max-width: 400px;
    }
    #input{
          max-width: 340px;

    }
    #clearcompleted{
        font-size: 10px;
    }
    #count{
        font-size: 10px;
        padding-right: 50px;
    }
    #all{
        font-size: 12px;  
    }
    #active{
        font-size: 12px;
    }
    #completed{
        font-size: 12px;
    }

  }
  @media screen and (max-width: 450px) {
    main {
        width: 320px;
      }
    #input::placeholder{
        font-size: 15px;
    }
    #input{
        max-width: 260px;
    }
    #todolist{
        max-width: 320px;
    }
    #clearcompleted{
        font-size: 8px;
    }
    #count{
        font-size: 9px;
        padding-right: 20px;
    }
    #all{
        font-size: 9px;    
    }
    #active{
        font-size: 9px;
    }
    #completed{
        font-size: 9px;
    }
  }